.container-header{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-header__options{
    display: flex;
    margin-top: 10px;
    
}

.options__icon-pipe{
    margin-left: 15px;
    margin-top: 3px;
}