.container-word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container-word__term{
    display: flex;
    flex-direction: column;
}

.container-word__term__child{
    font-size: 32px;
    font-weight: bold;
}

.container-word__term__pronunciation{
    margin-top: 10px;
    color: #a445ed;
}

.container-word__sound{
    cursor: pointer;
}

.sanSerif{
    font-family: 'Inter', sans-serif;
}

.serif{
    font-family: 'Lora', serif;
}

.mono{
    font-family: 'Inconsolata', monospace;
}

@media screen and (min-width: 992px) {
    .container-word {
        width: 50%;
    }

    .container-word__term__child{
        font-size: 70px;
    }

    .container-word__term__pronunciation{
        font-size: 29px;
    }
}