.container-word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 35px;
}

.container-word__term{
    display: flex;
    flex-direction: column;
}

.container-word__term__child{
    font-size: 32px;
    font-weight: bold;
}

.container-word__term__pronunciation{
    margin-top: 10px;
    color: #a445ed;
}

.sanSerif{
    font-family: 'Inter', sans-serif;
}

.serif{
    font-family: 'Lora', serif;
}

.mono{
    font-family: 'Inconsolata', monospace;
}