:root {
    --color-background-dark: #050505;
    --color-background-ligth: #ffffff;
}

.dark {
  background-color: var(--color-background-dark);
  color: var(--color-background-ligth);
}

.ligth {
  background-color: var(--color-background-ligth);
  color: var(--color-background-dark);
}